* {
    margin: O;
    padding: 0;
    box-sizing: border-box;
}

.head>a {
    text-decoration: none;
    float: right;
    margin-right: 6%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 80px;
    color: white;
}

img {
    width: 200px;
    margin-left: 80px;
}

nav {
    background-image: url(../image/header-bg.jpg);
    width: 100%;
    height: 740px;
    background-repeat: no-repeat;
    background-position-y: -150px;
    text-align: center;
    padding: 150px;
}

nav>h3 {
    font-size: 40px;
    color: white;
}

nav>h1 {
    font-size: 4.5rem;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav>button {
    color: white;
    font-size: 20px;
    padding: 25px 60px;
    border-radius: 10px;
    background-color: #FFC800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.section {
    width: 100%;
    height: 600px;
    background-color: white;
}

.tittle {
    text-align: center;
    padding-top: 5px;
    font-size: 30px;
}


.Services {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;

}

.level h3 {
    font-size: 30px;
}

.Services i {
    font-size: 3rem;
    background-color: #FFC800;
    padding: 40px;
    border-radius: 50%;
    color: white;

}

.img {
    width: 100%;
    height: 600px;
    background-color: #FFC800;
    text-align: center;
}

.image {
    width: 75%;
    margin-left: 140px;
    margin-top: 50px;
    font-size: 150px;
}

.finish {
    width: 100%;
    height: 600px;
}

#roman {
    display: flex;
    flex-wrap: wrap;
    margin-left: 300px;
    text-align: center;

}

.text {
    text-align: center;
}

.text h2 {
    font-size: 35px;
}

.text p {
    font-size: 20px;
}

.finish img {
    border-radius: 50%;
}

#roman i {
    font-size: 1rem;
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 50%;
}

#roman h3,
p {
    margin-left: 80px;
}

#roman i {
    margin-left: 30px;
}

.Lorem {
    text-align: center;
    margin-top: 100px;
}

.center {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

.center img {
    width: 8rem;
    margin-left: px;
    margin-top: 50px;
margin-left: 200px;
}